<h1><%= @membership.name %>'s Wishlist</h1>

<div class="menu">
  <%= link_to "« Back to group", group_path(@group) %>
</div>

<div class="box">
  <p>
    <% if @membership.wishlist %>
      <%= @membership.wishlist %>
    <% else %>
      <%= @membership.name %> doesn't have a wishlist yet.
    <% end %>
  </p>
</div>
