.members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .member {
    display: flex;
    flex-direction: column;

    .avatar {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin-bottom: 5px;
    }
  }
}
