@font-face {
  font-family: 'Baloo';
  src: url('./BalooTamma2-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo', sans-serif;
  color: #000000b5;
}

a:link, a:active, a:visited {
  color: #927217;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  color: #a95519ed;

  span {
    line-height: 50px;
    margin-left: 10px;
  }

  .avatar {
    height: 40px;
    border-radius: 50%;
  }
}

.logo {
  margin-top: 5px;

  a:link, a:active, a:visited {
    font-size: 30px;
    color: #54a999;
  }
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 30%;

  @media screen and (max-width: 1000px) {
    margin: 25px 20%;
  }

  @media screen and (max-width: 800px) {
    margin: 25px 15%;
  }

  @media screen and (max-width: 500px) {
    margin: 25px 10%;
  }
}

.box {
  border: 2px solid;
  border-color: #54a99973;
  margin-bottom: 30px;
  padding: 15px 20px;
  border-radius: 4px;
  min-width: 300px;
  width: 100%;

  .box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      font-size: 20px;
      color: #a95519ed;
      font-weight: 800;
      margin: 0;
    }

    .box-menu {

    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #9bcdd0;
  margin-bottom: 25px;
  width: 100%;
  padding: 0 10px;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;

    @media screen and (max-width: 1300px) {
      width: 35%;
    }

    @media screen and (max-width: 600px) {
      width: 40%;
    }
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;

  a {
    line-height: 35px;
  }

  input[type=submit] {
    cursor: pointer;
    font-family: 'Baloo', sans-serif;
  }
}
