@font-face {
  font-family: 'Baloo';
  src: url('./BalooTamma2-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo', sans-serif;
  color: #000000b5;
}

a:link, a:active, a:visited {
  color: #927217;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  color: #a95519ed;

  span {
    line-height: 50px;
    margin-left: 10px;
  }

  .avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.logo {
  margin-top: 5px;

  a:link, a:active, a:visited {
    font-size: 30px;
    color: #54a999;
  }
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 30%;

  @media screen and (max-width: 1000px) {
    margin: 25px 20%;
  }

  @media screen and (max-width: 800px) {
    margin: 25px 15%;
  }

  @media screen and (max-width: 500px) {
    margin: 25px 10%;
  }
}

.box {
  border: 2px solid #54a99973;
  margin-bottom: 30px;
  padding: 15px 20px;
  border-radius: 4px;
  min-width: 300px;
  width: 100%;

  .box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      font-size: 20px;
      color: #a95519ed;
      font-weight: 800;
      margin: 0;
    }

    .box-menu {

    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #9bcdd0;
  margin-bottom: 25px;
  width: 100%;
  padding: 0 10px;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    p {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-left: 25px;

      .avatar {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin: -4px 5px 0 0;
      }
    }
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;

  a {
    line-height: 35px;
  }

  input[type=submit] {
    cursor: pointer;
    font-family: 'Baloo', sans-serif;
  }
}

.flash {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  animation: flash 0.5s 1;
  -webkit-animation: flash 0.5s 1;
  animation-fill-mode: forwards;

  animation-delay: 3s;
  -webkit-animation-delay: 3s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;

  div {
    border-radius: 4px;
    width: 100%;
    padding: 8px 0 5px 0;
    text-align: center;
  }

  .notice {
    background-color: #52b76838;
    border: 1px solid #0d940d;
  }

  .alert {
    background-color: #ca3a2329;
    border: 1px solid #a7170c;
  }
}

@keyframes flash {
    from { opacity :1; }
    to { opacity :0; height: 0; }
}

@-webkit-keyframes flash {
    from { opacity :1; }
    to { opacity :0; height: 0; }
}
